@media(max-width: 500px) {
    
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: aqua;    
    }
     /* Nav bar */
    
    #navbar {
        display: flex;    
        flex-direction: row;       
        align-items: center;
        justify-content: space-between;
        background-color: rgb(77, 77, 77);
        position: sticky;
        top: 0; 
        width: 500px;   
    }
    
    #logo {
        width: 4rem;
        height: 3rem;       
    }
    a {
        text-decoration: none;    
    }
    
    #navbar ul li {
        list-style: none;        
    } 
    
    #navbar ul {
        list-style: none;       
    }
    
    #navbar ul li a {
        display: block;       
        color: rgb(228, 15, 15);
        transition-duration: 500ms;
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    #navbar ul li a:hover{
        color: aqua;
        text-decoration: underline;
    }
    
    /* =========== */
        /* About */
    /* =========== */
    
    #about {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        border-radius: 4px;
        margin-top: 3px;
        background-image: url(Images/wp4470729.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* opacity: 100%; */
        margin: auto;
       
    }
    #about, a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .information {
        width: 460px;
        height: auto;
        color: rgb(255, 255, 255);       
        text-align: center;
        background-color: rgb(77, 76, 76);
        padding: 1rem;
        border-radius: 5px;
        opacity: 100%;
        margin-bottom: 1rem;
       
    }
    
    .information, h3 {
        font-size: 1.6rem;
    }
       
    #about h2 {
        color: rgb(255, 255, 255);
        /* position: relative; */
        animation: heading;
        /* animation-duration: 2s;   */
        text-align: center; 
        margin: auto;
    }
    
    @keyframes heading {
        0% {left: -2000px}
        100% {left: 0px}
    }
    
    .presentation {
        margin-top: 40px;
        text-align: center;
    }
    
    .myphoto {
        border-radius: 50%;
        text-align: center;
        width: 70%;
        height: 70%;    
        /* position: relative; */
        /* animation: photo; */
        animation-duration: 2s;
        margin-top: 1rem;
    }
    
    @keyframes photo {
        0% {right: -1300px}
        100% {right: 0px}
    }
    
    
    .social {
        margin-top: 20px;
    }
    
    .social i {
        color: rgb(189, 189, 180);
        font-size: 28px;
        padding: 12px;        
        transition-duration: 200ms;
    }
    
    
    .social i:hover {
        color: blue;
    }
    
     
    /* my projects */
    
    #myprojects {
        height: auto;   
        border-radius: 4px;        
        background-image: url(Images/wp4470729.jpg);
        background-size: cover;
        background-repeat: no-repeat;    
        width: 500px;
        margin-top: 3px;
        height: auto;
        margin: auto;
    }
    #projects {
        display: flex;
        width: auto;
        flex-direction: column;
        flex-wrap: wrap;       
        text-align: center;
        justify-content: space-between;    
    }
    #projects h3 {
        text-align: center;
        color: aliceblue;
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    #myprojects h2 {
        text-align: center;
        padding-top: 40px;
        color: rgb(243, 243, 199);
        animation: heading;
        animation-duration: 2s;
        opacity: 92%;
        font-size: 1.7rem;
    }
        
    #myprojects img {
        height: 180px;
        width: 280px;
        padding: 1rem;
        transition-duration: 500ms;
    }
    #myprojects img:hover {
        padding: 0.6rem;
    }
    /* contact */
    
    
    #contact {
        display: flex;
        height: auto;    
        flex-direction: column;
        align-items: center;
        background-color: rgb(175, 226, 123);
        border-radius: 3px;
        background-image: url(Images/wp4470729.jpg);
        background-size: cover;
        background-repeat: no-repeat;       
        margin-top: 3px;
        width: 500px;
        margin: auto;
    }
    
    #contact h3 {
        text-align: center;       
        padding-top: 20px;
        color: rgb(241, 241, 209);
        opacity: 92%;
    }
    
    .name {
        border: 3px solid black;
        padding: 20px;
        margin-top: 20px;
        border-radius: 5px;
        color: rgb(27, 27, 25);
    
    }
    
    .name i {
        color: rgb(50, 103, 218);
        font-size: 40px;    
    }
    
    input, #msg {
        border-radius: 5px;
        width: 100%; 
        margin-top: 8px;
        background-color: rgb(231, 231, 87);
        padding: 0.4rem 2rem;
        resize: none;
       margin: auto;
    }
    
    label {
        padding-bottom: 10px;
        border-color: rgb(128, 128, 231);
        padding-left: 8px;
        text-decoration: overline;
        color: rgb(249, 255, 218);
        font-size: 18px;  
    }
    
    .submit {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        color: wheat;
        color: rgb(233, 157, 17);
    }
    
    button {
        padding: 0.4rem 2rem;   
        border-radius: 5px;
        background-color: rgb(50, 103, 218);
        color: rgb(255, 253, 248);
        transition-duration: 400ms;
        font-size: 1rem;
    }
    
    button:hover {
        background-color: rgb(233, 157, 17);
        color: black;
        cursor: pointer;
    }
    
    
    
    .submit, i:hover {
      color: rgb(233, 157, 17);
      
    }
    
    /* footer  */
    
    
    #main-footer {
        text-align: center;
        background-color: rgb(6, 6, 48);
        color: rgb(255, 251, 251);
        padding: 20px;
        margin-top: 3px;
        border-radius: 5px;
        width: 500px;
     }
    
     
   

}
   