@media (max-width: 500px){
    nav {
        top: 0rem;
        position: fixed;
        width: 500px;
    }

    nav h1 {
        padding-left: 0.3rem;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 500px;
        z-index: 1;
    }

    #sideBar {
        padding-top: 4rem;
        position: static;
        width: 500px;
        height: auto;
    }

    #content {
        width: 500px;
        position: static;
        padding: 0rem;
    }
    #information {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    #javaScript {
        padding-bottom: 3rem;
    }
    #contactMe {
        width: 500px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        display: none;
    }

    form {
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 4rem;
    }
    .svg {
        padding-top: 1rem;
        width: 500px;
        margin-left: 0rem;
        margin: auto;
    }
    .mobile {
        display: none;
    }

    .fullSkill {
       position: relative;
        width: 20rem;
        height: 1.3rem;
        background-color: #f5f5f5;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    .html, .css {
        width: 0%;
        background-color: #2b3636;
        height: 1.3rem;
        border-radius: 1rem;
        color: #f5f5f5;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0.6rem;
        position: absolute;
    }

    .JS, .git {
        width: 0%;
        background-color: #2b3636;
        height: 1.3rem;
        border-radius: 1rem;
        color: #f5f5f5;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0.6rem;
        position: absolute;
    }

}