* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    height: 4rem;
    width: 100%;
    background-color: #000080;
    padding: 0.5rem;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    z-index: 1;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: #f9f9f9;
}
nav h1 {
    padding-left: 3rem;
}
nav ul {
    list-style: none;
    display: flex;
    padding-right: 3rem;
}
nav ul li a {
    color: #f5f5f5;
    padding: 0.6rem;
    text-decoration: none;
    font-size: 1.2rem;
}
/*  ================================== Main ================================== */
main {
    display: flex;
    height: 100vh;
    flex-direction: row;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#sideBar {
    background-color: #ffb606;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 4rem;
}

#sideBar img {
    border-radius: 50%;
    width: 10rem;
    margin: 1rem auto;
    box-shadow: 0px 0px 8px 3px #2b3636;
    background-color: #f9f9f9;
}
#sideBar button {
    padding: 0.3rem 2rem;
    margin: 1rem;
    border: 2px solid #000080;
    background-color: #ffb606;
    cursor: pointer;
    border-radius: 2rem;
    color: #4b4949;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 350ms;
    
}
#sideBar button:hover {
    background-color: #f5f5f5;
}
/* =============================Content ==================== */
#content {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: auto;
    position: absolute;
    top: 4rem;
    left: 20%;
    padding: 2rem;
}
/* @media (min-width: 2000px) {
    #content {
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        height: auto;
        position: absolute;
        top: 4rem;
        left: 17rem;
        padding: 2rem;
    }
} */
/* ============================= About ==================== */
#information {
    font-size: 2rem;
    width: 80%;
    margin: 2rem auto;
    color: #2b3636;
    display: flex;
    flex-direction: column;
}
#information a {
    text-decoration: none;
    color: #000080;
}

#information i {
    margin-top: 3rem;
}

/* ============================= Skills  ==================== */
.fullSkill {
    width: 30rem;
    height: 1.3rem;
    background-color: #f5f5f5;
    margin: 1rem 0.3rem;
    border-radius: 1rem;
    position: relative;
}

.html, .css {
    width: 0%;
    background-color: #2b3636;
    height: 1.3rem;
    border-radius: 1rem;
    color: #2b3636;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.6rem;
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: html;
}

.JS, .git {
    width: 0%;
    background-color: #2b3636;
    height: 1.3rem;
    border-radius: 1rem;
    color: #2b3636;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.6rem;
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: js;
}
.react {
    width: 0%;
    background-color: #2b3636;
    height: 1.3rem;
    border-radius: 1rem;
    color: #2b3636;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.6rem;
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: react;
    
}

@keyframes html {
    to {
        width: 75%;
        /* background-color: #2b3636;
        color: #f9f9f9; */
        color: #ffb606;
    }
}

@keyframes js {
    to {
        width: 55%;
        color: #ffb606;
    }
}


@keyframes react {
    to {
        width: 20%;
        color: #ffb606;
    }
}
/* ============================= Projects ==================== */

.cub {
    text-align: left;
    margin: 3rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    padding: 1.2rem;
    color: #ffb606;
    font-size: 1.5rem;
    border: 1px solid #000080;
    border-radius: 6px;
}

.cub h4 {
    margin-bottom: 1.2rem;
    text-shadow: 0px 0px 3px #000080;
}
#javaScript {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

#javaScript img {
    width: 22rem;
   
}
/* =============================    Contact ==================== */
#contactMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 50rem;
    display: none;
}

form {
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    
}
#name, #email {
    height: 2rem;
    resize: none;
    width: 20rem;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 0.5rem;
} 
#msg {
    resize: none;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 6px;
}
input[type="submit"] {
    background-color: #000080;
    height: 2rem;
    border: none;
    color: #f9f9f9;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}
.tel {
    display: flex;
    justify-content: space-between;
    height: 1.8rem;
    margin: 0.3rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    align-items: center;
    background-color: #ffb606;
    border-radius: 6px;
    border: 2px solid #000080;
}
.svg {
    margin-left: 5rem;
}
/* =============================Footer  ==================== */

footer {
    height: 3rem;
    width: 100%;
    background-color: #000080;
    position: fixed;
    bottom: 0;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}