/* 
---------Typography system 
--FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


----------Whitespace

            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.header {
  padding: 1.2rem 2.4rem;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;

  border-bottom: 1px solid;
  color: #fff;

  position: sticky;
  top: 0;
  z-index: 9999;
  opacity: 100%;
}

.logo {
  font-family: 'Indie Flower', cursive;
  font-size: 3.6rem;
  color: #ffd43b;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.list {
  font-size: 2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.list a {
  text-decoration: none;
  color: inherit;
}

.list a:hover {
  color: #ffd43b;
}

/* 
==============SECTION HERO ========================
*/

.section-hero {
  color: #fff;
}
.hero {
  max-width: 130rem;
  padding: 9.6rem 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-text {
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 2rem 0;
}
.hero-img-box {
  display: flex;
}
.hero-img-box img {
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
}

/* 
==============SECTION Projects ========================
*/

.section-projects {
  padding: 9.6rem 0;
  /* height: 100vh; */
}

.project {
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.project-description p {
  font-size: 1.8rem;
}
.project-img img {
  transition: all 400ms;
  max-width: 50rem;
  height: 28rem;
  border-radius: 11px;
  box-shadow: 0 3px 10px rgba(255, 213, 59, 0.435);
}

.project-img img:hover {
  transform: translateY(-10px);
  transition: 400ms;
}
/* 
==============SECTION Contact ========================
*/

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1.8rem;
}
.inputs-form {
  border: none;
  height: 5rem;
  padding: 1rem;
  font-size: 1.8rem;
  resize: none;
  border-radius: 9px;
}

#text-area {
  height: 14rem;
}

.form-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-img img {
  width: 100%;
  border-radius: 11px;
}

footer {
  padding: 7.2rem 2rem;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-contact h1 a {
  font-size: 1.6rem;
  color: #ffd43b;
}
.footer-contact a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

footer p {
  font-size: 1.4rem;
  color: #fff;
}

.footer-logo {
  margin: 0 1rem;
  height: 2.4rem;
  width: 2.4rem;
}
